# Dependencies
node_modules

# Build output
dist

# Environment files
.env
.env.*
!.env.example

# IDE / Editor
.vscode
.idea
*.swp
*.swo

# OS files
Thumbs.db
.DS_Store

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo